* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}
body {
	font-family: 'proxima-nova', 'Helvetica Neue', sans-serif;
	font-size: 62.5%;
}
h1 {
  font-family: 'league-gothic', 'Impact', sans-serif;
	font-weight: normal;
	font-size: 11em;
  line-height: 77px;
  text-transform: uppercase;
  color: white;
  position: absolute;
  bottom: 0;
  white-space: nowrap;
}
.inner {
  max-width: 1080px;
  padding: 0 40px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
a {
  color: #666;
}
a:hover {
  text-decoration: none;
}
#header {
  background: url('waldo.jpg') center center no-repeat;
  background-size: cover;
  height: 500px;
}
#social {
  position: absolute;
  right: 40px;
  bottom: 0;
  width: 40px;
  height: 40px;
}
#social a {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  background: white;
  color: #666;
}
#social a:hover {
  color: black;
}
#social a span {
  display: none
}
#social a i {
  font-size: 24px;
  width: 40px;
  height: 40px;
  padding: 8px;
  text-align: center;
}
#content .inner {
  padding: 40px;
}
#info {
  background: #eee;
  font-size: 2.4em;
  line-height: 1.4em;
  padding: 20px;
  margin-bottom: 40px;
}
#info ul {
 list-style: none;
}
#sections .section {
  clear: both;
  font-size: 1.8em;
  margin-bottom: 40px;
  overflow: auto; 
}
#sections .section h3, #sections .section .section_content {
  float: left;
}
#sections .section h3 {
  width: 30%;
  text-align: right;
  padding-right: 40px;
  line-height: 1.2em;
}
#sections .section .section_content {
  width: 70%;
  border-left: 1px solid #ddd;
  padding-left: 40px;
  line-height: 1.4em;
}
#sections .section .section_content ul {
  margin-left: 40px;
  margin-bottom: 20px;
}
#sections .section .section_content ul.description {
  margin-top: -10px;
}
#sections .section .section_content p {
  margin-bottom: 20px;
}
#sections .section .section_content *:last-child {
  margin-bottom: 0;
}